<!DOCTYPE html>
html(lang="es")
  head
    meta(charset='UTF-8')
    title Guia del Lago - Administrar
    link(rel='stylesheet', type='text/css', href='/css/Reset.css')
    link(rel='stylesheet', type='text/css', href='/css/Main.css')
    link(rel='stylesheet', type='text/css', href='/css/Admin.css')
    script(src='/js/jquery-3.3.1.js')
    script(src='/js/Tabs.js')
    script(src='/js/ToggleLoginForm.js')
    script(src='/js/ToggleOptions.js')
    script(src='/js/CustomSelect.js')
    script(src='/js/AdminValidations.js')
    script(src='/js/FileIndicator.js')
    script(src='/js/ModalBox.js')
    script(src='/js/SearchBar.js')
    script(src='/js/back/onLoadPanel.js')
  body
    header
      img(src='/api/info/picture/banner', alt='Logo')
      button#showLogin.toggleFormShow(onclick='showForm()') Sesión
      #loginForm.toggleForm
        form.toggleFormContainer
          button.toggleFormHide(type='button', onclick='hideForm()') Ocultar
          a(href='/') Inicio
          a.toggleFormCancel(href='/api/close') Cerrar
    section
      table.mainTable
        tbody
          tr
            if (user.role == 'admin' || user.role == 'rrhh')
              td#mainDefault.mainTab.ini(onclick="mainTab(event, 'users')") Usuarios
            if (user.role == 'admin')
              td.mainTab.mid(onclick="mainTab(event, 'clients')") Clientes
            if (user.role == 'rrhh')
              td.mainTab.end(onclick="mainTab(event, 'clients')") Clientes

            if (user.role == 'admin' || user.role == 'ic')
              td.mainTab.mid(onclick="mainTab(event, 'site')") Sitio
      #users.mainTabContent
        table.subTable
          tbody
            tr
              td#usersDefault.usersTab.tab.ini(onclick="usersTab(event, 'H')") Historial
              td.usersTab.tab.mid(onclick="usersTab(event, 'G')") Gestionar
              td.usersTab.tab.end(onclick="usersTab(event, 'IU')") Invitar
        #H.usersTabContent
          button#showRecordOptions.green(onclick='showRecordOptions()') Opciones
          #recordOptions.options
            button.black.ini(onclick='hideRecordOptions()') Ocultar
            table
              tbody
                tr
                  td#recordDefault.recordTab.subTab.ini(onclick="recordTab(event, 'recordFilters')") Filtrar
                  td.recordTab.subTab.end.red(onclick="recordTab(event, 'recordDelete')") Eliminar
            #recordFilters.recordTabContent
              form(onsubmit='return validateRecordFilter()')
                table.options
                  tbody
                    tr
                      td.selectInput.left
                        select#rAmount(name='rAmount')
                          option(value='0') Cantidad de registros
                          option(value='10') Ver 10
                          option(value='30') Ver 30
                          option(value='75') Ver 75
                          option(value='All') Ver Todos
                      td.selectInput.right
                        select#rSort(name='rSort')
                          option(value='0') Ordenar por
                          option(value='new') Mas nuevos
                          option(value='old') Mas viejos
                    tr
                      td.toggleInput.left
                        input#rDate(type='checkbox', name='rDate', checked='')
                        label(for='rDate') Mostrar fecha
                          span.checkmark
                      td.toggleInput.right
                        input#rUser(type='checkbox', name='rUser', checked='')
                        label(for='rUser') Mostrar usuario
                          span.checkmark
                button.green.end(type='submit') Filtrar
            #recordDelete.recordTabContent
              form(onsubmit='return validateRecordDelete()')
                table.options
                  tbody
                    tr
                      td.selectInput.left.red
                        select#dAmount(name='dAmount')
                          option(value='0') Cantidad de registros
                          option(value='10') Seleccionar 10
                          option(value='30') Seleccionar 30
                          option(value='75') Seleccionar 75
                          option(value='All') Seleccionar Todos
                      td.selectInput.right.red
                        select#dSort(name='dSort')
                          option(value='0') Ordenar por
                          option(value='new') Mas nuevos
                          option(value='old') Mas viejos
                button.red.end(type='submit') Eliminar
          
          table.list
            tbody
              tr
                th#hDate Fecha
                th#hUser Usuario
                th#hAction Acción
              tr
                td#hDate 31/12/2099 23:59
                td#hUser= user.name
                td#hAction Cambio 1.
              tr
                td#hDate 31/12/2099 23:59
                td#hUser Usuario
                td#hAction Cambio 2.
        #G.usersTabContent
          table.listInput
            tbody
              tr
                th#gUser USUARIO
                th#gRole ROL
                th#gDelete ELIMINAR
              each user, index in users
                if (user.role == 'admin')
                  tr
                  td#gUser=user.name
                  td#gRole= user.role
                  td#gDelete Permanente
                else
                  tr
                    td#gUser=user.name
                    td#gRole= user.role
                    td#gDelete.toggleInput.red.right
                      button#gUserDelete(onclick=`deleteUser('${user._id}')`) Eliminar

          .currentText.inside  
          button#showManageOptions.green(onclick='showManageOptions()') Roles
          #manageOptions.options
            button.black.ini(onclick='hideManageOptions()') Ocultar
            table.list
              tbody
                tr
                  th#gRole ROL
                  th#gAble Permisos
                tr
                  td#gRole admin
                  td#gAble Administrador.
                tr
                  td#gRole RRHH
                  td#gAble Recursos Humanos (Agregar usuarios)
                tr
                  td#gRole Invitar Clientes
                  td#gAble Enviar correo electronico de invitacion a cliente
        #IU.usersTabContent
          form(onsubmit='return validateInviteUser()', action='/api/mail/send', method='post')
            table.options
              tbody
                tr
                  td
                    input.left(type='email', name='iUEmail', placeholder='Correo electronico', required='')
                  td.selectInput.right
                    select#iURole(name='iURole', required='')
                      option(value='0') Rol
                      option(value='admin') Administrador
                      option(value='rrhh') RRHH
                      option(value='ic') Invitar Clientes
            button.green.end(type='submit') Invitar
          .currentText.inside  
          button#showInviteOptions.green(onclick='showInviteOptions()') Roles
          #inviteOptions.options
            button.black.ini(onclick='hideInviteOptions()') Ocultar
            table.list
              tbody
                tr
                  th#gRole ROL
                  th#gAble Permisos
                tr
                  td#gRole RRHH
                  td#gAble Recursos Humanos (Agregar usuarios)
                tr
                  td#gRole Invitar Clientes
                  td#gAble Enviar correo electronico de invitacion a cliente
      #clients.mainTabContent
        table
          tbody
            tr
              td#clientsDefault.clientsTab.tab.ini(onclick="clientsTab(event, 'AD')") Gestionar
              td.clientsTab.tab.mid(onclick="clientsTab(event, 'AG')") Agregar
              td.clientsTab.tab.end(onclick="clientsTab(event, 'IC')") Invitar
        #AD.clientsTabContent
          button#showContractsOptions.white(onclick='showContractsOptions()') Opciones
          #contractsOptions.options
            button.black.ini(onclick='hideContractsOptions()') Ocultar
            table
              tbody
                tr
                  td#contractsDefault.contractsTab.subTab.ini(onclick="contractsTab(event, 'contractsFilters')") Filtrar
                  td.contractsTab.subTab.end.red(onclick="contractsTab(event, 'contractsDelete')") Eliminar
            #contractsFilters.contractsTabContent
              form(onsubmit='return validateContractsFilter()')
                table.options
                  tbody
                    tr
                      td.selectInput.left
                        select#cZone(name='cZone')
                          option(value='0') Zona
                          option(value='1') La Fe
                          option(value='2') Huinala
                          option(value='3') Nueva Linda Vista
                      td.selectInput.right
                        select#cMonth(name='cMonth')
                          option(value='0') Mes
                          option(value='1') Enero
                          option(value='2') Febrero
                          option(value='3') Marzo
                          option(value='4') Abril
                          option(value='5') Mayo
                          option(value='6') Junio
                          option(value='7') Julio
                          option(value='8') Agosto
                          option(value='9') Septiembre
                          option(value='10') Octubre
                          option(value='11') Noviembre
                          option(value='12') Diciembre
                    tr
                      td.toggleInput.left
                        input#cAll(type='radio', name='cView', value='all', checked='')
                        label(for='cAll')
                          | Ver todos
                          span.radiomark
                      td.toggleInput.right
                        input#cDebt(type='radio', name='cView', value='debt')
                        label(for='cDebt')
                          | Ver faltantes
                          span.radiomark
                button.green.end(type='submit') Filtrar
            #contractsDelete.contractsTabContent
              form(onsubmit='return validateContractsDelete()')
                table.options
                  tbody
                    tr
                      td.selectInput.red.left
                        select#dZone(name='dZone')
                          option(value='0') Zona
                          option(value='1') La Fe
                          option(value='2') Huinala
                          option(value='3') Nueva Linda Vista
                      td.selectInput.red.right
                        select#dMonth(name='dMonth')
                          option(value='0') Mes
                          option(value='1') Enero
                          option(value='2') Febrero
                          option(value='3') Marzo
                          option(value='4') Abril
                          option(value='5') Mayo
                          option(value='6') Junio
                          option(value='7') Julio
                          option(value='8') Agosto
                          option(value='9') Septiembre
                          option(value='10') Octubre
                          option(value='11') Noviembre
                          option(value='12') Diciembre
                button.red.end(type='submit') Eliminar
          .currentText Buscar
          table.listInput
            tr.noBorder.noHover
              td.input(colspan='5')
                input#fBuisness.mid(type='text', placeholder='Buscar negocio')

            table.listInput
              tbody
                tr
                  th#cBuisness Negocio
                  th#cData Detalles
                  th#cPay Cobrar
                  th#cPaid Cobrado
                  th#cLeft Faltante
                
                each contrato, index in contratos
                  tr
                    td#cBuisness
                      input(type='text', name='cId1', style='display: none;')
                      .bName=contrato.nombreNegocio
                    if (user.role == 'admin')
                      td#cData.toggleInput
                        input#cData1.uncheck(type='checkbox', 
                        onclick=`openModalBox(
                          'cData1', 'cDataContent', 
                          ${contrato.active}, '${contrato.contratista}', ${contrato.anticipo},
                          '${contrato.cliente}', '${contrato.direccionNegocio}', 
                          '${contrato.telefonoNegocio}', '${contrato.folio}',
                          '${contrato.meses}', '${contrato.espacio}',
                          '${contrato.total}', '${contrato._id}')`)
                        label(for='cData1') Editar
                    else
                      td#cData.toggleInput No autorizado
                    td#cPaid= contrato.total
                    td#cLeft= contrato.cobrado
                    td= (contrato.total - contrato.cobrado)

                tr.noBorder
                  td(style='padding: 0px;')
                    #cDataContent.modal
                      form(method='post', action='/api/contrato/update')
                        input(type="hidden" name="_METHOD" value="PUT")
                        .modalContent
                          table.listInput
                            input#ModalId(type='text', name='cId', style='display: none;')
                            tr
                              td#cCancel.toggleInput.left
                                input#cCancelVal0(type='radio', name='cCancel', value='0')
                                label(for='cCancelVal0') Contrato Activo
                                  span.radiomark
                              td#cCancel.toggleInput.red.right
                                input#cCancelVal1(type='radio', name='cCancel', value='1')
                                label(for='cCancelVal1') Contrato Cancelado
                                  span.radiomark
                            tr
                              td Vendedor :
                              td#ModalUser Usuario 2
                            tr
                              td#cBonus.toggleInput.red.left
                                input#cBonusVal0(type='radio', name='cBonus', value='0')
                                label(for='cBonusVal0') Anticipo pendiente
                                  span.radiomark
                              td#cBonus.toggleInput.green.right
                                input#cBonusVal1(type='radio', name='cBonus', value='1')
                                label(for='cBonusVal1') Anticipo pagado
                                  span.radiomark
                            tr
                              td Cliente :
                              td#ModalClient Nombre2 apellido2
                            tr
                              td Dirección :
                              td#ModalDir text
                            tr
                              td Teléfono
                              td#ModalTel 00000000
                            tr
                              td Folio
                              td#ModalFile 00000
                            tr
                              td Meses
                              td#ModalMonths 1
                            tr
                              td Espacio
                              td#ModalSpace Octavo de pagina
                            tr
                              td Precio Total
                              td#ModalTotal 000000
                            tr
                              td Cantidad a cobrar :
                              td#cPay.input
                                input#cPayn(type="text", name="cPay", placeholder="000.00")
                            tr.noHover
                              td.input
                                button#cancelModal.red.end.left(type='button', onclick="closeModalBox('cDataContent')") Cancelar
                              td.input
                                button.green.end.right(type='submit') Modificar
                              
        #AG.clientsTabContent
          form(onsubmit='return validateAddClient()', action='/api/contrato', method='post')
            table.listInput
              tbody
                tr
                  th(colspan='2') Necesarios
                tr
                  td
                    | Negocio
                  td.input
                    input.right(type='text', name='buisness', placeholder='Nombre', required='')
                tr
                  td
                    | Zona
                  td.selectInput.right
                    select#zone(name='zone', required='')
                      option(value='0') Zona
                      option(value='La Fe') La Fe
                      option(value='Huinala') Huinala
                      option(value='Nueva Linda Vista') Nueva Linda Vista
                tr
                  td
                    | Mes inicial
                  td.selectInput.right
                    select#iMonth(name='iMonth', required='')
                      option(value='0') Mes
                      option(value='Enero') Enero
                      option(value='Febrero') Febrero
                      option(value='Marzo') Marzo
                      option(value='Abril') Abril
                      option(value='Mayo') Mayo
                      option(value='Junio') Junio
                      option(value='Julio') Julio
                      option(value='Agosto') Agosto
                      option(value='Septiembre') Septiembre
                      option(value='Octubre') Octubre
                      option(value='Noviembre') Noviembre
                      option(value='Diciembre') Diciembre
                tr
                  td
                    | Meses
                  td.selectInput.right
                    select#mNumber(name='mNumber')
                      option(value='0') 0
                      option(value='1') 1
                      option(value='2') 3
                tr
                  td
                    | Precio total
                  td.input
                    input.number.right(type='text', name='total', placeholder='0000', required='')
                tr
                  td
                    | Vendedor                
                  td.selectInput.right
                    select#seller(name='seller')
                      option(value="0") Vendedor
                      each user, index in users
                        option(value=`${user.name}`)= user.name
                tr.nohover
                  th(colspan='2') Opcionales
                tr
                  td
                    | Cliente
                  td.input
                    input.right(type='text', name='client', placeholder='Nombre')
                tr
                  td
                    | Dirección
                  td.input
                    input.right(type='text', name='dir', placeholder='Lugar')
                tr
                  td
                    | Teléfono
                  td.input
                    input.number.right(type='text', name='tel', placeholder='00000000')
                tr
                  td
                    | Espacio
                  td.selectInput.right
                    select(name='space')
                      option(value='0') Espacio
                      option(value='Portada') Portada
                      option(value='Contraportada') Contraportada
                      option(value='Pagina completa') Pagina completa
                      option(value='Media pagina') Media pagina
                      option(value='Cuarto de pagina') Cuarto de pagina
                      option(value='Octavo de pagina') Octavo de pagina
                tr
                  td
                    | Folio
                  td.input
                    input.number.right(type='text', name='pNumber', placeholder='0000')
            button.green.end(type='submit') Agregar
        #IC.clientsTabContent
          form(method='post', action='/api/mail/invite')
            table.options
              tbody
                tr
                  td
                    input.mid(type='email', name='iCEmail', placeholder='Correo electronico', required='')
            button.green.end(type='submit') Invitar
      #site.mainTabContent
        table
          tbody
            tr
              td#siteDefault.siteTab.tab.ini(onclick="siteTab(event, 'R')") Revistas
              td.siteTab.tab.mid(onclick="siteTab(event, 'I')") Informacion
              td.siteTab.tab.end(onclick="siteTab(event, 'C')") Correos
        #R.siteTabContent
          form(onsubmit='return validateSiteMags()', action='/api/pictures', method='post', enctype='multipart/form-data')
            table.listInput
              tbody
                tr
                  td.toggleInput.left
                    input#sZone1(type='radio', name='zone', value='1', checked='', required='')
                    label(for='sZone1')
                      | La Fe
                      span.radiomark
                  td.toggleInput
                    input#sZone2(type='radio', name='zone', value='2', required='')
                    label(for='sZone2')
                      | Huinala
                      span.radiomark
                  td.toggleInput.right
                    input#sZone3(type='radio', name='zone', value='3', required='')
                    label(for='sZone3')
                      | Nueva Linda Vista
                      span.radiomark
                tr
                  td.input(colspan='3')
                    input#sImgs.fileInput(type='file', name='sImgs', accept='image/*', data-multiple-caption='total imagenes nuevas', multiple='')
                    label(for='sImgs') Nuevas imagenes
                tr
                  td.input(colspan='3')
                    input.mid(type='text', name='sMagName', placeholder='Nuevo nombre')
            button.green.end(type='submit') Cambiar
        #I.siteTabContent
          form(action='/api/info/picture' ,onsubmit='return validateSiteInfo()', method='post', enctype='multipart/form-data')
            table.listInput
              tbody
                tr
                  td.toggleInput.left
                    input#sBanner(type='radio', name='option', value='banner', checked='', required='')
                    label(for='sBanner')
                      | Portada
                      span.radiomark
                  td.toggleInput
                    input#sPrices(type='radio', name='option', value='prices', required='')
                    label(for='sPrices')
                      | Precios
                      span.radiomark
                  td.toggleInput.right
                    input#sZones(type='radio', name='option', value='zones', required='')
                    label(for='sZones')
                      | Zonas
                      span.radiomark
                tr
                  td.input(colspan='3')
                    input#sInfo.fileInput(type='file', name='sInfo', accept='image/*')
                    label(for='sInfo') Nueva imagen
            button.green.end(type='submit') Cambiar
        #C.siteTabContent
          button#showTemplate1Options.green(onclick='showTemplate1Options()') Plantilla para clientes
          #template1Options.options
            button.black.ini(onclick='hideTemplate1Options()') Ocultar
            form
              table.listInput
                tbody
                  tr
                    td.input
                      input#t1Logo.fileInput(type='file', name='t1Logo', accept='image/*')
                      label(for='t1Logo') Nueva imagen inicial
                  tr
                    td.input
                      textarea(name='t1Msg', placeholder='Nuevo mensaje')
                  tr
                    td.input
                      input#t1Info.fileInput(type='file', name='t1Info', accept='image/*')
                      label(for='t1Info') Nueva imagen final
              button.green.end(type='submit') Modificar
          .currentText.inside  
          button#showTemplate2Options.green(onclick='showTemplate2Options()') Plantilla para usuarios
          #template2Options.options
            button.black.ini(onclick='hideTemplate2Options()') Ocultar
            form
              table.listInput
                tbody
                  tr
                    td.input
                      input#t2Logo.fileInput(type='file', name='t2Logo', accept='image/*')
                      label(for='t2Logo') Nueva imagen inicial
                  tr
                    td.input
                      textarea(name='t2Msg', placeholder='Nuevo mensaje')
              button.green.end(type='submit') Modificar
      script.
        document.getElementById("mainDefault").click();
        document.getElementById("usersDefault").click();
        document.getElementById("showInviteOptions").click();
        document.getElementById("clientsDefault").click();
        document.getElementById("siteDefault").click();
        document.getElementById("recordDefault").click();
        document.getElementById("contractsDefault").click();
        setCustomSelects();
        document.addEventListener("click", hideEveryCustomSelectBut);
        setFileIndicators();
        setModalBoxes();
